# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the commonly used libraries used by Data Scientists include:

In [ ]:
* Numpy
* panda
* Matpotlib

In [16]:
import pandas as pd

data = {
    'DataScienceTools': ['python','R','MATLAB','Julia']
   }
df = pd.DataFrame(data)
df

  DataScienceTools
0           python
1                R
2           MATLAB
3            Julia

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#### This a simple arithmetic expression to mutiply then add integers
a=3
b=4
c=5
d=(a*b)+c
print(d)

17

In [13]:
#### This will convert 200 minutes to hours by diving by 60
minutes=200
hr=((minutes)/60)
print(hr)

3.3333333333333335

## Objectives:
## List popular languages for Data Science
* Python
* R
* MATLAB
* SAS

##  Author : Vasumathi M